<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <br>

    <% messages.forEach(message => { %>
      <div class="message-container">
        <h3><%= message.text %></h3>
        <p>User: <%= message.user %></p>
        <p>Date: <%= message.added %></p>
      </div>
    <% }) %>
  </body>
</html>
